@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.main{
   /* border: 2px solid red; */
   width: 80%;
   font-family: 'Ubuntu', sans-serif;
}

.head{
    margin: 25px 43px;
}

/* .search{
    margin: 5px;
    margin-left: 76px;
  
    padding: 9px;
    display: flex;
    justify-content: right;
    
    
   
} */
/* 
.search i {
    margin: 8px 6px 10px 10px;
    cursor: pointer;
}

.search input{
    height: 26px;
    width: 200px;
} */

.items{
    display: flex;
    height: auto;
}
.alpha{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}

.alpha a{
    padding: 10px;
    font-size: 1.1rem;
    text-decoration: none;
    color: gray;
}

.alpha a:hover{
   color: black;
   font-size: 1.2rem;
}

.countries{
    height: auto;
}

.countries h2{
   font-size: 2rem;
   margin: 15px 70px;
}

.sec{
    display: flex;
    justify-content: center;
    /* width: 60%; */
    /* border: 2px solid brown; */
    font-size: 1.3rem;
    height: auto;
    
    /* align-items: center; */
   
}

.sec li{
    margin: 7px 4px;
    
}

.sec a{
    text-decoration: none;
   color: gray;

}
.sec a:hover{
   
   color: black;

}

.sec1{
    
    list-style: none;
    margin: 10px 200px;
    
  
}



.sec2{
    list-style: none;
    margin: 10px 200px;
    
}

.lt
{
    margin-right: 400px;
}

.ltt
{
    margin-right: 550px;
}
.lttt{
    margin-right: 480px;
}

@media (min-width: 0px) and (max-width: 833px) {
    .items {
     flex-direction: column;
    }
  }

  @media (min-width: 0px) and (max-width: 833px) {
    .alpha {
     flex-direction: column;
    font-size: 0.8rem;
     margin-top: 5px;
     margin-left: 5px;
    }
  }

  @media (min-width: 0px) and (max-width: 1088px) {
    .sec {
     flex-direction: column;
     font-size: 1.2rem;
    }
  }

  @media (min-width: 0px) and (max-width: 1088px) {
    .countries h2 {
     
     font-size: 1.5rem;
    }
  }

  @media (min-width: 0px) and (max-width: 730px) {
    .countries h2 {
     
     font-size: 1.3rem;
    }
  }

  @media (min-width: 0px) and (max-width: 1088px) {
    .countries h2 {
     
     font-size: 1.7rem;
    }
  }

  @media (min-width: 0px) and (max-width: 730px) {
    .sec {
     
     font-size: 1rem;
    
    }
  }

  @media (min-width: 0px) and (max-width: 833px) {
    .main {
    width: auto;
    }
  }

  @media (min-width: 0px) and (max-width: 833px) {
    .sec1 {
        margin: 10px 10px;
    }
  }
  @media (min-width: 0px) and (max-width: 833px) {
    .sec2 {
        margin: 10px 10px;
    }
  }



/* .count{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */